<div class="body">
  <div>
    <nav class="nav">
      <div class="icon">
        <img
          src="../assets/vecteezy_mi-xiaomi-logo-mi-xiaomi-icon-free-vector_20336369.jpg"
          alt="logo"
        />
      </div>
      <div>
        <ul class="icon-li">
          <li>Store</li>
          <li>Phone</li>
          <li>TV & Smart Home</li>
          <li>Laptop & Tablet</li>
          <li>LifeStyle</li>
        </ul>
      </div>
      <div>
        <ul class="icon-but">
          <li>Discover</li>
          <li>Support</li>
          <li>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="search"
            ></mat-icon>
          </li>
          <li>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="shopping_cart"
            ></mat-icon>
          </li>
          <li>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="account_circle"
            ></mat-icon>
          </li>
        </ul>
      </div>
    </nav>
    <div class="carsoles">
      <div class="carosole">
        <img  src="../assets/a36e2b3bc23344b77cb6722d762be57f.webp" alt="" />
      </div>
      <div class="tv-description">
        <h6>Reinventing Your Smart TV Experience</h6>
        <h1>Redmi Smart Fire TV 32</h1>
        <h5>Special Offer Is Live</h5>
        <h5>From ₹9,449*</h5>
        <button (onclick)="openTv(tv32)" class="buy-now-button" mat-button>Buy Now</button>
      </div>
      <div class="small-cover">
        <div class="cover-1">
        <img src="../assets/55295f0dc0747e8a3b53d503cb1bcd98.webp" alt="" />
      </div>
      <div class="cover-2">
        <img src="../assets/565a6b6c4f49e9c667b45e30c8f31fbd.webp" alt="">
      </div>
      </div>
    </div>
  </div>
</div>
